html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
    color: $color-1;
    background: $color-4;
}

h1 {
    font-size: $h1-size;
}

h2 {
    font-size: $h2-size;
}

a {
    color: $color-1;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
