@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

$font-family: "Roboto Mono", monospace;
$font-size: 0.9rem;
$h1-size: 1.4rem;
$h2-size: 1.2rem;
$line-height: 1.4;

$color-1: #333;
$color-2: #bbb;
$color-3: #ddd;
$color-4: #eee;
$strong: #d40000;
